{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">
    {%if locations%}
    <div class="row ">
        {%for location in locations%}
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">{{location.location_name|title}}</h2>
                    <a href="{%url 'location_images' id=location.id%}" class="btn btn-outline-info btn-lg">View photos</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        {% endfor %}
    </div>
    {%else%}
    <div class="row">
        <h2 class="text-center">There Are No Locations</h2>
    </div>
    {%endif%}

</div>
{%endblock%}