{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">
    <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} text-danger" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% if images%}
        <h2 class="text-center">{{ images|length }} {{message|title}} images were found.</h2>
        {% else %}
        <h2 class="text-center">There are no images in category {{message|title}}</h2>
        {% endif %}

    </div>
    <div class="row row-cols-1 row-cols-md-4  g-4">
        {%for image in images%}
        <div class="col">
            <div class="card ">
                <img src="{{image.image_path.url}}" style=" object-fit: cover;" class="card-img-top"
                    alt="{{image.image_name}}" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{image.id}}">
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop{{image.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.image_path.url}}" class="img-fluid" style=" object-fit: cover;"
                            alt="{{image.image_name}}" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    </div>
                    <div class="modal-header">
                        <ul>
                            <li><b>Name:</b> {{image.image_name|capfirst}}</li>
                            <li><b>Description:</b> {{image.description|capfirst}}</li>
                            <li><b>Location:</b> <a href="{%url 'location_images' id=image.location.id%}">{{image.location|capfirst}}</a></li>
                            <li><b>Categories:</b>
                                {% for category in image.categories.all %}
                                <ul>
                                    <li>{{ category.category_name }}</li>
                                </ul>
                                {% endfor %}
                            </li>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <br><button type="button" onclick="copyFunction()" class="btn btn-outline-dark copy-btn"
                                    data-url={{image.image_path.url}}>Copy</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}